<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Accueil
			{% endblock %}
			- Site blog Symfony
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<meta
		name="viewport" content="width=device-width, initial-scale=1">

		{# feuille de styles #}
		<link
		rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">


		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			<link
			rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
		{# {{ encore_entry_link_tags('app') }} #}
		{% endblock %}

		{# fichier js  #}
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>


		{% block javascripts %}
			<script rel="stylesheet" href="{{ asset('assets/js/scripts.js') }}" defer></script>
			{# {{ encore_entry_script_tags('app') }} #}
		{% endblock %}
	</head>
	<body>
		{% include "_partials/_nav.html.twig" %}
		{% if app.user and app.user.isVerified == false %}
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close">
				</button>
				<div class="alert-message">
					<strong>Attention !</strong>
					Votre compte n'est pas encore activé. Veuillez consulter votre boîte mail pour activer votre compte ou
					<i> <a href="{{ path('resend_verif')}}">renvoyer le lien d'activation </a></i>
				</div>
			</div>
		{% endif %}
		{% include "_partials/_flash.html.twig" %}


		{% block body %}{% endblock %}

		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
