{{ form_start(form) }}
{{ form_widget(form.title) }}
{{ form_widget(form.image) }}
{# On verifie si la route est la route de creation ou la route d'édition #}
{% if app.request.attributes.get('_route') == 'app_article_edit' %}
	<h2>Image(s) actuelle(s)</h2>
	<div class="row">
		{% for image in article.images %}
			<div class="col-md-3">
				<div>
					<img src="{{ asset('uploads/' ~ image.name) }}" alt="image" class="img-fluid">
					<a href="{{ path('app_article_image_delete', {id: image.id}) }}" data-delete data-token="{{ csrf_token('delete' ~ image.id)}}">Supprimer</a>
				</div>
			</div>
		{% endfor %}
	</div>

{% endif %}
{{ form_widget(form.content) }}
{{ form_widget(form.slug) }}
{{ form_widget(form.categorie) }}


<button type="submit" class="btn btn-primary">
	{% if app.request.attributes.get('_route') == 'app_article_edit' %}
		Modifier
	{% else %}
		Ajouter
	{% endif %}
</button>
{# <button class="btn">{{ button_label|default('Save') }}</button> #}
{{ form_end(form) }}

{# On ajoute du javascript pour supprimer les images #}
{% block javascripts %}
	<script  src="{{ asset('assets/js/images.js') }}"></script>
{% endblock %}
